@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700);

body {
  font-family: "Open Sans", Arial;
  background: #CCC;
}
h2 {
  text-align: center;
}
p {
  font-size: 13px;
  color: black
}


input {
  display: none;
  visibility: hidden;
}

label {
  display: flex;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #1a91eb;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

#expand {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  background-color: white;
}

#toggle:checked ~ #expand {
  max-height: 30vh;
}

#arrow-icon {
  transition: transform 400ms ease;
  color: black;
}

#toggle:checked ~ label {
  #arrow-icon {
  color: #1a91eb;
  transform: rotate( -180deg );            
  transition: transform 400ms ease, color 400ms ease;
  }
}
