<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<app-button (click)="openModal()" text="modal"></app-button>
<app-modal [top]="true" title="modal title" [(modal)]="modalRef" [smallModal]="true">
  <div class="body">
    The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>
  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>  The BPMN file you were trying to import is invalid.
Please check an error message below.
<br>
  </div>
  <div class="footer">
    some footer
  </div>
</app-modal>

<!-- <div class="dummy-div">
  <app-tootlip
    text="some tooltip text 1 j ejfas jdkfs dkjf dskjf nsdkjfn kjsfn skjd fnjskdf njskd"
    tooltipText="'as ldjkan dlkjandklsj asd da as d' + name"
    
    ></app-tootlip>
</div>
<br>
<div class="dummy-div">
  <app-tootlip
    text="some tooltip text 2"
    tooltipText="'as ldjkan dlkjandklsj asd da as d' + name"
    
    ></app-tootlip>
</div>
<br>
<div class="dummy-div">
  <app-tooltipb></app-tooltipb>
</div> 
<br>


<div>
<app-collapse></app-collapse>
<app-collapse></app-collapse>
</div>
<div class="dummy-div">
  <app-tootlip
    text="short"
    tooltipText="'as ldjkan dlkjandklsj asd da as d' + name"
    
    ></app-tootlip>
</div> -->

<div>
<app-chips></app-chips><app-chips></app-chips><app-chips></app-chips>
</div>

<app-block></app-block>
<app-block split="true" secondaryTextColor="#1a91eb" textAlign="center"></app-block>
<app-block split="true" fontStyle="italic" textColor="#1a91eb" showIcon="true"></app-block>

<app-button disabled="true" text="disabled"></app-button>
<app-button textColor="#000000" backgroundColor="green" text="color"></app-button>
<app-button (click)="clickTest()" text="click"></app-button>
<app-button flat="true" textColor="rgb(33, 150, 243)" text="flat"></app-button>
<app-button outline="true" textColor="rgb(33, 150, 243)" text="outline"></app-button>
<app-button text="normal"></app-button>
<app-button text="loading" [loading]="loading" (click)="loader()"></app-button>
<app-button text="very long loading" [loading]="loading" (click)="loader()"></app-button>

<app-loader color="black" size="s"></app-loader>
<app-loader color="black" size="m"></app-loader>
<app-loader color="black" size="l"></app-loader>

<app-dnd></app-dnd>