<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<div>
<app-collapse></app-collapse>
<app-collapse></app-collapse>
</div>

<div>
<app-chips></app-chips><app-chips></app-chips><app-chips></app-chips>
</div>

<app-block></app-block>
<app-block split="true" secondaryTextColor="#1a91eb" textAlign="center"></app-block>
<app-block split="true" fontStyle="italic" textColor="#1a91eb" showIcon="true"></app-block>

<app-button disabled="true" text="disabled"></app-button>
<app-button textColor="#000000" backgroundColor="green" text="color"></app-button>
<app-button (click)="clickTest()" text="click"></app-button>
<app-button flat="true" textColor="rgb(33, 150, 243)" text="flat"></app-button>
<app-button outline="true" textColor="rgb(33, 150, 243)" text="outline"></app-button>
<app-button text="normal"></app-button>
<app-button text="loading" [loading]="loading" (click)="loader()"></app-button>

<app-loader></app-loader>