<div class="content">
      <!-- Modal using Material Design Lite -->

      <button (click)="openModal()" class="mdl-button  mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        Launch Modal
      </button>

      <div class="modal" [ngClass]="{'top': top, 'active': modal}">
          <div class="modal-content" [ngClass]="{'top': top, 'active': modal}">
            <div class="modal-header">
              <div class="modal-title">
                <h2 class="modal-title-text">{{title}}</h2>
              </div>

              <button (click)="openModal()" class="mdl-button mdl-button--icon mdl-js-button  material-icons  modal__close">
                close
              </button>
            </div>


            <div class="modal-body">
              <ng-content select=".body"></ng-content>
            </div>

            <div class="modal-footer">
              <ng-content select=".footer"></ng-content>
            </div>
          </div>
      </div>
    </div>