      <div class="modal-wrapper" [ngClass]="{'top': top, 'active': modal}">
        <div *ngIf="backgroundClose" class="background-event" (click)="backgroundEvent()"></div>
          <div class="modal-content" [ngClass]="{'top': top, 'active': modal}">
            <div class="modal-header" *ngIf="!headless">
              <div class="modal-title">
                <h2 class="modal-title-text">{{title}}</h2>
              </div>

              <div (click)="modal = false" class="modal__close"></div>
            </div>


            <div class="modal-body">
              <ng-content select=".body"></ng-content>
            </div>

            <div class="modal-footer">
              <ng-content select=".footer"></ng-content>
            </div>
          </div>
      </div>